/* Reset CSS padrão */

* {
    margin: 0;
    padding: 0;
    outline: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    outline: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    background-color: var(--white);
    max-height: 100vh;
}


/* Colors */

:root {
    --white: #F8F9FA;
    --primary-blue: #5465FF;
    --secondary-blue: #4755D6;
    --primary-black: #343A40;
    --primary-gray: #AAAAAA;
    --secondary-gray: #777777;
    --border: #EBECED;
    --bg-form: #E4E7EC;
    --border-form: #DEE2E8;
    --bg-input: #F3F4F5;
    --border-input: #EEEFF0;
}


/* header */

.header {
    gap: 300px;
    display: flex;
    padding: 10px 0;
    align-items: center;
    justify-content: space-around;
}

.navbar-hamburger {
    display: none;
    cursor: pointer;
}

.hamburger-bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    background-color: var(--primary-black);
}

.navbar {
    gap: 36px;
    display: flex;
    align-items: center;
}

.navbar-title {
    display: none;
}

.navbar-link {
    font-size: 16px;
    color: var(--primary-black);
    letter-spacing: 0.5px;
    transition: .2s linear;
}

.navbar-link:hover {
    color: var(--primary-blue);
    transition: .2s linear;
}

.navbar-link:nth-child(4) {
    padding: 0 20px;
    color: var(--white);
    line-height: 40px;
    border-radius: 6px;
    background-color: var(--primary-blue);
}

.navbar-link:last-child:hover {
    background-color: var(--secondary-blue);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
}


/* Form */

.form {
    gap: 20px;
    display: flex;
    padding: 40px 50px;
    flex-direction: column;
    background: rgba( 99, 110, 168, 0.15);
    box-shadow: 0 6px 16px 0 rgba( 31, 38, 135, 0.37);
    backdrop-filter: blur( 10px);
    -webkit-backdrop-filter: blur( 10px);
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18);
}

.form-title {
    font-size: 20px;
    text-align: center;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.form input {
    width: 400px;
    padding: 18px;
    font-size: 16px;
    border-radius: 6px;
    border: 1px solid var(--white);
    background-color: var(--white);
}

.form input[type="checkbox"] {
    width: 20px;
    margin-right: 5px;
}

.form-checkbox {
    display: flex;
    align-items: center;
}

.checkbox-text {
    color: var(--secondary-gray);
    font-size: 14px;
}

.form-btn {
    width: 400px;
    font-size: 16px;
    cursor: pointer;
    color: var(--white);
    border-radius: 6px;
    line-height: 42px;
    transition: .2s ease-in-out;
    border: 1px solid var(--primary-blue);
    background-color: var(--primary-blue);
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.05);
}

.form-btn:hover {
    border: 1px solid var(--secondary-blue);
    background-color: var(--secondary-blue);
}

.reset {
    color: var(--primary-gray);
    font-size: 14px;
    text-align: right;
    transition: .2s ease-in-out;
}

.reset:hover {
    color: var(--secondary-blue);
    transition: .2s ease-in-out;
}


/*--- Content ---*/

.content {
    margin-bottom: 0px;
}

.primary,
.primary-login {
    gap: 0;
    display: flex;
    padding: 40px 0;
    align-items: center;
    justify-content: space-evenly;
    border-top: 1px solid rgba(0, 0, 0, 0.05);
}

.primary-login {
    flex-direction: row-reverse;
}

.primary-login .primary-description {
    max-width: 650px;
}

.primary-content {
    gap: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.primary-title {
    font-size: 64px;
    color: var(--primary-black);
}

.primary-description {
    font-size: 22px;
    color: var(--primary-black);
}

.primary-btn {
    width: 240px;
    display: flex;
    font-size: 18px;
    cursor: pointer;
    color: var(--white);
    border-radius: 6px;
    line-height: 42px;
    align-items: center;
    letter-spacing: 0.5px;
    justify-content: center;
    transition: .2s ease-in-out;
    border: 1px solid var(--primary-blue);
    background-color: var(--primary-blue);
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.05);
}

.primary-btn:hover {
    border: 1px solid var(--secondary-blue);
    background-color: var(--secondary-blue);
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.15);
}

.primary-btn i {
    font-size: 12px;
    padding-left: 6px;
}


/* footer */

.footer {
    gap: 400px;
    display: flex;
    line-height: 20px;
    padding-top: 10px;
    justify-content: space-around;
    border-top: 1px solid var(--border);
}

.copyright,
.terms {
    font-size: 12px;
    font-weight: 500;
}

.copyright {
    color: var(--primary-black);
}

.terms a {
    color: var(--primary-blue);
    transition: .2s ease-in-out;
}

.terms a:hover {
    color: var(--secondary-blue);
    transition: .2s ease-in-out;
}